.letter {
    display: inline-block;
    font-family: monospace;
    font-size: 50px;
    height: 40px;
    padding: 5px;
    user-select: none;
    width: 40px;
}

.selected {
    border: 2px solid;
}